body{
font-family: Arial;
margin:0;
background:#f4f4f4;
text-align:center;
}

header{
background: linear-gradient(135deg,#1d2671,#c33764);
color:white;
text-align:center;
padding:40px;
}

.foto{
width:150px;
height:150px;
border-radius:50%;
object-fit:cover;
border:4px solid white;
display:block;
margin:0 auto 20px;
}

.botao{
display:inline-block;
margin-top:15px;
padding:10px 20px;
background:#25D366;
color:white;
text-decoration:none;
border-radius:8px;
}

section{
padding:40px;
}

.card{
background:white;
margin:20px auto;
padding:20px;
max-width:500px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

footer{
background:#222;
color:white;
padding:20px;
}
